.editor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.input_date {
  height: 48px;
  background: var(--color-grey);
  border-radius: 4px;
  padding: 1rem;
  transition: filter 300ms;
}
.input_date:hover {
  filter: brightness(80%);
}
.input_date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.emotion {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
}
.textarea {
  resize: none;
  background: var(--color-grey);
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-radius: 4px;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.125rem;
  }
  .input_date {
    height: 40px;
  }
}
