/* Setting */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Color */
  --color-grey: #ececec;
  --color-green: #64c964;
  --color-red: #fd565f;
  --color-border: #e2e2e2;

  /* Font */
  --font-regular: 1rem;
  --font-small: 0.875rem;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareNeo-Variable';
  font-size: var(--font-regular);
}
body {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}
input,
select,
textarea {
  border: none;
  outline: none;
}
